# MongoDB connection string
# Local:  mongodb://localhost:27017
# Atlas:  mongodb+srv://<user>:<password>@cluster.mongodb.net/
MONGO_URI=mongodb://localhost:27017

# The database name to connect to
DB_NAME=your_database_name
